{% extends 'base.html' %}
{% block page %}

<div class="containers">
    <div class="left-block">
<div style="flex-grow: 1;">
    <h1 style="margin-bottom: 20px;">Запись на приём</h1>
</div>
</div>
<div class="right-block">
    {% if user.role == "doctor" %}
    <a href="{% url 'doctor:view_appointments' %}" class="custom-button-link">
        Записи
        <span class="star">★</span>
    </a>
    {% else %}
    <a href="{% url 'patient:view_appointments' %}" class="back-button">
        назад ->
    </a>
    {% endif %}
</div>
</div>
<form method="post">
    {% csrf_token %}

    {% if user.role == "patient" %}
    <label style="color: #333;margin-bottom: 8px;display: block;">
        {{form.doctor.label}}
    </label>
    <select name="doctor" required="" id="id_doctor" style="display: block;width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;background-color: #D9D9D9;font-size: 16px;color: #333;appearance: none;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;">
        {% for doctor in form.doctor %}
            {{ doctor }}
        {% endfor %}
    </select>
    {% else %}
    <label style="color: #333;margin-bottom: 8px;display: block;">
        {{form.patient.label}}
    </label>
    <select name="patient" required="" id="id_patient" style="display: block;width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;background-color: #D9D9D9;font-size: 16px;color: #333;appearance: none;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;">
        {% for patient in form.patient %}
            {{ patient }}
        {% endfor %}
    </select>
    {% endif %}

    <br>

    <label style="color: #333;margin-bottom: 8px;display: block;">
        {{form.usluga.label}}
    </label>
    <select name="usluga" required="" id="id_usluga" style="display: block;width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;background-color: #D9D9D9;font-size: 16px;color: #333;appearance: none;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;">
        {% for usluga in form.usluga %}
            {{ usluga }}
        {% endfor %}
    </select><br>

    <label style="color: #333;margin-bottom: 8px;display: block;">
        {{form.date.label}}
    </label>
    <input type="date" name="date" maxlength="255" required="" id="id_date" style="display: block;width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;background-color: #D9D9D9;box-sizing: border-box;font-size: 16px;color: #333;">
    <br>

    <label style="color: #333;margin-bottom: 8px;display: block;">
        {{form.time.label}}
    </label>
    <input type="time" name="time" maxlength="255" required="" id="id_time" style="display: block;width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;background-color: #D9D9D9;box-sizing: border-box;font-size: 16px;color: #333;">
    <br>

    <button type="submit" style="display: inline-block;padding: 10px 20px;background-color: #D9D9D9;border: 1px solid #ccc;border-radius: 4px;font-size: 16px; color: #333;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;">Записаться</button>
</form>
 {% if form.date.errors %}
        <div class="error">{{ form.date.errors }}</div>
    {% endif %}
    {% if form.time.errors %}
        <div class="error">{{ form.time.errors }}</div>
    {% endif %}



{% endblock %}