{% extends 'base.html' %}
{% block page %}
<div style="flex-grow: 1;">
    <h1 style="margin-bottom: 20px;">Удалить запись</h1>
</div>
<p>Вы уверены, что хотите удалить запись на прием с доктором {{ object.doctor.get_full_name }}?</p>
<form method="post">
    {% csrf_token %}
    <br>
    <button style="text-align: center; width: 120px; height: 40px; text-decoration:none; display: inline-block;padding: 10px 20px;background-color: #D9D9D9;border: 1px solid #ccc;border-radius: 4px;font-size: 16px; color: #333;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;" type="submit">Удалить</button>
    <a style="width: 90px; height: 40px; text-decoration:none; display: inline-block;padding: 10px 20px;background-color: #D9D9D9;border: 1px solid #ccc;border-radius: 4px;font-size: 16px; color: #333;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;" href="{% url 'patient:view_appointments' %}">Назад</a>
</form>

{% endblock %}
