{% extends 'base.html' %}
{% block page %}
<div class="containers">
    <div class="left-block">
<div style="flex-grow: 1;">

</div>
<br>
  <div class="link-container">
    <a href="{% url 'patient:profile' %}"  class="link">Профиль</a>
    <a href="{% url 'patient:patient_survey' %}"  class="link active">Анкета</a>
  </div>
  <br>
  {% for field in form %}
  {% if field.errors %}
             <div class="errorlist">
                 {% for error in field.errors %}
                     <p class="error">{{ field.label}} {{ error }}</p>
                 {% endfor %}
             </div>
         {% endif %}
 {% endfor %}
</div>
<div class="right-block">

    <a href="{% url 'patient:view_appointments' %}" class="back-button">
        назад ->
    </a>
</div>
</div>
<div class="profile-container">
       <div class="photo-section">
        {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" alt="Фото пациента" class="patient-photo">
      {% else %}
        <p class="patient-photo" style="padding-left: 15%; padding-top: 50%;">Hе установлен</p>
    {% endif %}
    </div>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
            <label class="input-label">
                {{form.question1.label}}
            </label>
            <textarea name="question1" id="id_question1" class="line-textarea" placeholder="Введите текст...">{{survey.question1}}</textarea>
            </div>
            <div class="input-group">
            <label class="input-label">
                {{form.question2.label}}
            </label>
            <textarea name="question2" id="id_question2" class="line-textarea" placeholder="Введите текст...">{{survey.question2}}</textarea>
        </div>
        <div class="input-group">
            <label class="input-label">
                {{form.question3.label}}
            </label>
            <textarea name="question3" id="id_question3" class="line-textarea" placeholder="Введите текст...">{{survey.question3}}</textarea>
        </div>
            <div class="input-group">
            <label class="input-label">
                {{form.question4.label}}
            </label>
            <textarea name="question4" id="id_question4" class="line-textarea" placeholder="Введите текст...">{{survey.question4}}</textarea>
        </div>
            <div class="input-group">
            <label class="input-label">
                {{form.question5.label}}
            </label>
            <textarea name="question5" id="id_question5" class="line-textarea" placeholder="Введите текст...">{{survey.question5}}</textarea>
        </div>
            <button type="submit" style="display: inline-block;padding: 10px 20px;background-color: #D9D9D9;border: 1px solid #ccc;border-radius: 4px;font-size: 16px; color: #333;cursor: pointer;transition: background-color 0.3s, border-color 0.3s;">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}