{% extends 'base.html' %}
{% block page %}

<div class="containers">
<div class="left-block">
<div style="flex-grow: 1;">
    
</div>
<br>
  <div class="link-doctor-container">
    <a href="#"  class="link-doctor active">Чат с пациентом</a>
  </div>
  <br>
<br>
{% for field in form %}
{% if field.errors %}
           <div class="errorlist">
               {% for error in field.errors %}
                   <p class="error">{{ field.label}} {{ error }}</p>
               {% endfor %}
           </div>
       {% endif %}
{% endfor %}

<div class="chat-container">
    <!-- Левая панель: выбор врача -->
    <div class="doctor-list">
      <h2>Выберите пациента</h2>
      <ul>
        {% for doctor in doctors %}
          <li class="doctor-item" data-doctor-id="1">
          <a href="{% url 'doctor:send_message_to_patient' doctor.id %}" class="doctor-name link-chat active">{{ doctor.first_name }} {{ doctor.last_name }}</a>
        </li>
        {% endfor %}

      </ul>
    </div>

    <!-- Правая часть: окно чата -->
    <div class="chat-window">
      <!-- Заголовок чата -->

      <div class="chat-header">
        {% if current_doctor %}
          {% if current_doctor.0.role == "patient" and current_doctor.0.profile.avatar %}
        <img src="{{ current_doctor.0.profile.avatar.url }}" alt="{{ current_doctor.0.last_name }}Фото" class="chat-doctor-photo">
          {% endif%}
        {% endif %}
        <span class="chat-doctor-name">{{ current_doctor.0.first_name }} {{ current_doctor.0.last_name }}</span>
      </div>

      <!-- Окно сообщений -->
      <div class="chat-messages">
        {% for message in messages %}
            {% if message.sender == current_doctor.0 %}
                    <!-- Сообщение врача -->
                    <div class="message doctor-message">
                        <div class="message-content">
                            {{ message.body }}
                        </div>
                        <div class="message-time">{{ message.created_at|time:"H:i" }}</div>
                    </div>
            {% else %}
                    <!-- Сообщение пациента -->
                    <div class="message patient-message">
                        <div class="message-content">
                            {{ message.body }}
                        </div>
                        <div class="message-time">{{ message.created_at|time:"H:i" }}</div>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
<form method="POST">
    {% csrf_token %}
      <!-- Поле ввода нового сообщения -->
       <input type="hidden" name="receiver" id="id_receiver" value="{{current_doctor.0.id}}">
      <div class="chat-input">
        <textarea name="body" id="id_body" placeholder="сообщение..." class="input-field"></textarea>
        <button class="send-button-chat">→</button>
      </div>
</form>
    </div>
</div>
</div>

<div class="right-block">
    <a href="{% url 'doctor:view_appointments' %}" class="back-button">
        назад ->
    </a>

</div>
</div>



    <script>
        // JavaScript function to open URL based on selected option
        function sortTable() {
            const select = document.getElementById("sortSelect");
            const selectedValue = select.value;
        
            // Define URLs for each option
            const urls = {
                "": "", // Default (no action)
                "name_asc": "?sort_by=name&order=asc",
                "name_desc": "?sort_by=name&order=desc",
                "date_added_asc": "?sort_by=date_added&order=asc",
                "date_added_desc": "?sort_by=date_added&order=desc"
            };
        
            // Open the URL associated with the selected option
            if (urls[selectedValue]) {
                console.log(urls[selectedValue]);
                window.location.href = urls[selectedValue];
            }
        }

        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

// Function to set default option based on URL parameter
        function setDefaultOption() {
            const defaultSort = getQueryParam('sort_by') + "_" + getQueryParam('order'); // Get 'sort' parameter from URL
            if (defaultSort == "null_null")
                defaultSort = "name_asc";
            const select = document.getElementById("sortSelect");
            console.log(defaultSort);

            if (defaultSort) {
                select.value = defaultSort; // Set the selected value based on the parameter
            }
        }

// Call the function to set default option when the page loads
        window.onload = setDefaultOption;


        </script>


{% endblock %}